/* General propreties*/

* {
    margin: 0;
    padding: 0; 
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    
}

body {
    max-width: 1440px;
    background-color: white;
    color: black;
    font-family: "Inter", serif;
    font-size: 1.4rem;
    
}

.flexcolumn {
    display: flex;
    flex-direction: column;
    gap: 1rem;

}

.verticalcenter {
    justify-content: center;
}

.flexrow {
    display: flex;
    flex-direction: row;
   

}

@media  (max-width: 414px) {

    body {
        font-size: 1.2rem
      }
    }

/* Header*/
nav {
    width: 100%;
    height: 5%;
    background-color: #057858;
    color: white;
    align-items: center;
   
}

.header-container, .redheader-container {
    display: flex;
    flex-direction: row;
}


.leftnav {
    
    display: flex;
    flex:1;
    justify-content: flex-start;
    align-items: center;
    margin: 2.7%;
    gap: 3rem;
    
}


.leftnav img {
    width: 4%;
    height: 4%;
    
}   

.rightnav {
    width: 24%;
    display: flex;
    flex:1;
    justify-content: flex-end;
    align-items: center;
    margin: 2.7%;
    gap: 7rem;

}  


.redbox {
    background-color: #DC2627;
    border-radius: 0.5rem;
    width: 33%;
    height: 45%;
    align-items: center;
    gap:2rem;
    padding: 2rem
    
    
} 
.redbox img {
    width: 15%;
    height: 27.5%;
}

@media  (max-width: 414px) {

  
.header-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.leftnav {
    width: 100%;    
}

 .rightnav {
    width: 100%;
    display: flex;
    flex-direction: column; 
    align-items: flex-start;
    gap: 2rem; 
  
    
    
    }

    .redbox {
        width: 98%;
        height: 5%;
        display: flex;
        align-items: center;
        gap: 1rem; 
        box-sizing: border-box;
        padding: 1rem;
       
        
    }

    .redbox img {
        width: 5%;
        height: 5%

    }

}

/* Section 1*/

.S1 {
    width: 100%;
    height: auto;
    overflow: hidden;
   

}

.imagepp {
    width: 100%;
    height: 40vh; 
    background-image: url("Images/photo1.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    filter: brightness(0.7) contrast(1.1);
    object-fit: cover; 

    
}

h1 {
    
    font-size: 5.3rem;
}

.bold {
    font-weight: 700;
}

.semibold {
font-weight: 600;
}

.medium {
    font-weight: 500;
    }

.sous-titre1 {
    font-size: 2rem;
}


.S1flex1 {
    width: 100%;
    height: 100vh;
    align-items: center;
    gap: 2rem
}


h1,.sous-titre1 {
    color:white;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

@media (max-width: 414px) {

    .imagepp {
        height: 45vh; /* Ajuster la hauteur de l'image pour les petits écrans */
        background-size: cover; /* Maintenir les proportions naturelles */
        object-fit: cover; /* Maintenir les proportions naturelles */
    }

    h1 {
        font-size:2.4rem;
    }
    .sous-titre1 {
        font-size:1.4rem
    }
}

/* Section 2*/

h2 {
    text-align: center;
    margin: 4rem;
    font-size: 2.8rem;
   
}



.S2 {
        width: 100%;
        display: flex;
        justify-content: center; 
        align-items: center; 
        overflow: hidden;
        margin-bottom: 5rem;
        
    
}



.S2flex1 {
    width: 62%;
    height: 55vh;
    display: flex;
    gap: 3rem;
   
   
}

.div1box1, .div1box2, .div1box3 {
    width: 30%;
    height: 20vh;
    padding: 1.5rem;
   
    
    
}

.div2box1, .div2box2, .div2box3 {
    width: 10%;
   
    
}

.S2flex2 {
    justify-content: space-around;
    margin: 1rem
}

.S2flex3 {
    justify-content: space-evenly;
  
}

.roundborder {
    border-radius: 0.5rem;
    border: solid 2px white;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.25)

}

.largeredbox {
    width: 95%;
    height: 8vh;
    background-color: #DC2627;
    color: white;
    margin: 1rem;
    padding: 1rem;
    position: relative; /* Necessary for positioning child */
    border-radius: 0.5rem;
}

.largeredbox img {
    width: 5%;
    height: 4%'
}

.largeredbox p {
    font-size: 1.5rem;
    position: absolute; 
    top: 50%; 
    left: 50%; 
    transform: translate(-50%, -50%); 

}

.element1 {
    font-size: 2rem
}

.element2 {
    color: #7C808A;

}

.element1, .element2 {
    display: flex;
    justify-content: center;
    align-items: center;

}

.bigbox {
    border-color: rgba(94, 115, 120, 0.24);  /* opacité de 24% */
    border-width: 0.3rem;
}

.smallbox {
    background-color: #F5F5F5;
    padding: 1rem
}

@media (max-width: 414px) {

    .S2flex1 {
        width: 95%;
    }

    h2 {
        font-size: 1.8rem
    }

    .S2flex2 {
        display: flex;
        flex-direction: column;
       
    
    }
  
    .div1box1, .div1box2, .div1box3  {
        width: 95%;
        height: 10vh;
        margin: 1rem
    
    }

    .smallbox {
        width: 20%
    }
.element1 {
font-size: 1.6rem;
}

.element2 {
    font-size: 0.9rem
    
}
.largeredbox {
    margin-top: 2rem;
    height: 4vh
}
.largeredbox img {
    width: 4%;
    height: 2vh
}
.largeredbox p {
    font-size: 1.1rem
}
}

/* Section 3*/

.S3 {
    background-color: #EDFEF6;
    width: 100%;
    height: 55vh;
}

.S3flex {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2rem;
    
}

.S3flexdiv1  {
    display: flex;
    flex: 1;
    height: 80%;
    background-color: white;
    background-image: url("Images/photo2.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    filter: brightness(0.7) contrast(1.1);
    border-radius: 0.5rem;
   
   
}


.S3flexdiv2 {
    display: flex;
    flex: 1;
    background-color:white;
    height: 80%;
    padding: 5rem;
    border-radius: 0.5rem;
 
   

}

@media (max-width: 414px) {
    .S3flex {
        display: flex;
        flex-direction: column;
    }
    .S3flexdiv1 {
        width: 100%;
        height: 50%; 
         margin-top: 2rem;
    }

    .S3flexdiv2 {
        width: 100%;
        height: 50%; 
        margin-bottom: 2rem;
        padding: 2rem; 
    }

}

/* Section 4*/

.S4 {
    width: 100%;
 
   
}



 .S4flex1element1, .S4flex1element2, .S4flex1element3 {
    display: flex;
    justify-content: flex-start;
    color: white;
 
   
}
.S4flex1element1 {
    font-size: 2.8rem;

}

.S4flex1element2 {
    font-size: 1.5rem;
}

.S4flex1element3 {
    font-size: 1.2rem;
}


.whitetext {
    color: white;
}

.bigphoto {
    width: 50%;
    height: auto;
    min-height: 60vh;
    background-image: url("Images/photo3.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    filter: brightness(0.6) contrast(1.3);
    border-radius: 0.5rem;
    margin: auto;
  
}

.S4flex2 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    gap:2rem;
    margin-top: 3rem;
    margin-bottom: 0;

}

.S4flex2element1, .S4flex2element2, .S4flex2element3 {
    display: flex;
    justify-content: center; 
    align-items: center; 
    
}

.smallphoto1, .smallphoto2,.smallphoto3 {
  
    width:15.7%;
   height: 10vh; 
   background-repeat: no-repeat;
   background-position: center center;
   background-size: cover;
   filter: brightness(0.7) contrast(1.1);
   border-radius: 0.5rem;

}

.smallphoto1 {
    background-image: url("Images/photo3.png");
}
.smallphoto2  {
background-image: url("Images/photo4.png");

}

.smallphoto3 {
    background-image: url("Images/photo5.png");
}

@media (max-width: 414px) {
   
.S4flex1 {
    width: 90%;
    margin: 2rem
}
    
        .S4flex2element1, .S4flex2element2, .S4flex2element3 {
            width: 27%;
            margin: 0; 
        
        }  
}

/* Section 5*/


.S5 {
    width: 100%;
    height: auto;
    background-color: #EDFEF6;

 
}


.S5 h3 {
    margin-bottom: 2rem;
}

.S5flex1 {
    background-color: white;
    margin: 0 auto 3rem auto;
    text-align: center;
    width: 60%;
    padding: 2rem;
    border-radius: 0.5rem;
    border: solid 2px white;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.25);
    

}
.S5box{
    width: 55%;
    height: auto;
    background-color: #F5F5F5;
    border-radius: 0.5rem;
    padding: 1rem;
    font-size: 1.5rem;
    margin-left: 1rem
 
}

@media  (max-width: 414px) {

    .S5flex1 {
        width: 90%
    }
    .S5flex2 {
        display: flex;
        flex-direction: column;
        gap: 2rem;
       
    }

    .S5box {
        width: 90%;
        display: flex;
        justify-content: center;
        align-items: center;
        
    }
}

.S5flex3 {
    display: flex;
    justify-content: center;
}
.S5flex4 {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.S5flex4 img {
    width: 10%;

}

@media  (max-width: 414px) {

    .S5flex3 {
        display: flex;
        flex-direction: column;
        border-radius: 0.5rem;
    }
}

/* Section 6*/

.S6flex1 {
    width: 100%;
    height: 50vh;
    display: flex;
    justify-content: space-evenly;


}

.S6flex2 {
    width: 25%;
    height: 100%;
    padding: 2rem;
 
}
.divimage1,.divimage2,.divimage3 {
    width: 100%;
    height: 60%;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    filter: brightness(0.7) contrast(1.1);
    object-fit: cover; 
}


.divimage1 {
    background-image: url("Images/photo6.png");
}

.divimage2 {
    background-image: url("Images/photo7.png");
}

.divimage3 {
    background-image: url("Images/photo8.png");
}


@media  (max-width: 414px) {

   .S6 {
    width: 100%;
    height: auto;
   }
    .S6flex1 {
        width: 90%;
        height: auto;
        display: flex;
        flex-direction: column;
        border-radius: 0.5rem;
    }

    .S6flex2 {
        width: 100%;
        height: auto;
        margin: 2rem;
    }

    .divimage1,.divimage2,.divimage3 {
        width: 100%;
        min-height: 15rem;
}
}